@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Walter+Turncoat&display=swap');

body {
    display : grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 5vh 1fr 100px;
}

header {
    background-image: url(images/channels4_banner.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
    gap:0 0;
}

.htext {
    font-family: 'Michroma', cursive;
    font-size: 4rem;
    text-shadow: 0 0 5px rgb(173, 173, 173);
}

.htextm {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.5rem;
    text-shadow: 0 0 2px rgb(177, 177, 177);
}

nav {
    position: sticky;
    top : 0;
    z-index: 2;

    background-color: rgb(4, 0, 54);
    color: white;

    
    height: 5vh;
    display: flex;
    font-size: 1rem;
}

.button {
    font-family: 'Michroma', sans-serif;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-decoration: none;
    color:white;
}

.button:hover {
    background-color: rgb(5, 0, 76);
    box-shadow: 2px 2px 5px 3px rgb(0, 0, 0);
}

.button:active {
    background-color: rgb(0, 0, 0);
}

main {
    background-image: linear-gradient(to bottom right, #020029, #06001b);

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 5px;
}

img {
    height: 19%;
    width: 19%;
    margin: 20px;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0);
}

.spcl {
    height: 50%;
    width: 50%; 
}

footer {    
    background-image: url(images/channels4_banner.jpg);
;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

